In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('dataset/train.csv')

In [3]:
df.head()

,date_time,is_holiday,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index,traffic_volume
0,2012-10-02 09:00:00,None,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,121,5545
1,2012-10-02 10:00:00,None,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,178,4516
2,2012-10-02 11:00:00,None,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,113,4767
3,2012-10-02 12:00:00,None,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,20,5026
4,2012-10-02 13:00:00,None,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,281,4918

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            33750 non-null  object
 1   is_holiday           33750 non-null  object
 2   humidity             33750 non-null  int64
 3   wind_speed           33750 non-null  int64
 4   wind_direction       33750 non-null  int64
 5   visibility_in_miles  33750 non-null  int64
 6   dew_point            33750 non-null  int64
 7   temperature          33750 non-null  float64
 8   rain_p_h             33750 non-null  float64
 9   snow_p_h             33750 non-null  float64
 10  clouds_all           33750 non-null  int64
 11  weather_type         33750 non-null  object
 12  air_pollution_index  33750 non-null  int64
 13  traffic_volume       33750 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 3.6+ MB

In [5]:
# df.isnull().sum()

In [6]:
df.shape

(33750, 14)

In [7]:
len(df['date_time'].unique())

28589

In [8]:
# df['snow_p_h'].value_counts()
df['temperature'] = df['temperature'].astype(np.int64)

In [9]:
# df['traffic_volume'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            33750 non-null  object
 1   is_holiday           33750 non-null  object
 2   humidity             33750 non-null  int64
 3   wind_speed           33750 non-null  int64
 4   wind_direction       33750 non-null  int64
 5   visibility_in_miles  33750 non-null  int64
 6   dew_point            33750 non-null  int64
 7   temperature          33750 non-null  int64
 8   rain_p_h             33750 non-null  float64
 9   snow_p_h             33750 non-null  float64
 10  clouds_all           33750 non-null  int64
 11  weather_type         33750 non-null  object
 12  air_pollution_index  33750 non-null  int64
 13  traffic_volume       33750 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 3.6+ MB

In [10]:
df.drop(df[df['weather_type'] == 'Squall'].index ,inplace=True)

In [11]:
df['weather_type'].value_counts()

Clouds          11213
Clear            9233
Mist             4047
Rain             3940
Snow             2070
Drizzle          1204
Haze              902
Fog               567
Thunderstorm      553
Smoke              17
Name: weather_type, dtype: int64

In [12]:
# is_holiday = pd.get_dummies(df['is_holiday'], drop_first=True)
weather_type = pd.get_dummies(df['weather_type'], drop_first=True)

In [13]:
merge = pd.concat([df,weather_type] ,axis='columns')

In [14]:
# merge

In [15]:
final = merge.drop(['is_holiday','weather_type','date_time','snow_p_h','rain_p_h'],axis='columns')

In [16]:
final.head()

,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,clouds_all,air_pollution_index,traffic_volume,Clouds,Drizzle,Fog,Haze,Mist,Rain,Smoke,Snow,Thunderstorm
0,89,2,329,1,1,288,40,121,5545,1,0,0,0,0,0,0,0,0
1,67,3,330,1,1,289,75,178,4516,1,0,0,0,0,0,0,0,0
2,66,3,329,2,2,289,90,113,4767,1,0,0,0,0,0,0,0,0
3,66,3,329,5,5,290,90,20,5026,1,0,0,0,0,0,0,0,0
4,65,3,329,7,7,291,75,281,4918,1,0,0,0,0,0,0,0,0

In [17]:
X = final.drop('air_pollution_index', axis='columns')

In [18]:
y = final['air_pollution_index']

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33746 entries, 0 to 33749
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   humidity             33746 non-null  int64
 1   wind_speed           33746 non-null  int64
 2   wind_direction       33746 non-null  int64
 3   visibility_in_miles  33746 non-null  int64
 4   dew_point            33746 non-null  int64
 5   temperature          33746 non-null  int64
 6   clouds_all           33746 non-null  int64
 7   traffic_volume       33746 non-null  int64
 8   Clouds               33746 non-null  uint8
 9   Drizzle              33746 non-null  uint8
 10  Fog                  33746 non-null  uint8
 11  Haze                 33746 non-null  uint8
 12  Mist                 33746 non-null  uint8
 13  Rain                 33746 non-null  uint8
 14  Smoke                33746 non-null  uint8
 15  Snow                 33746 non-null  uint8
 16  Thunderstorm         33746 non-null  uint8
dtypes: int64(8), uint8(9)
memory usage: 2.6 MB

In [20]:
y.shape

(33746,)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lr = LinearRegression()

In [23]:
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
lr.score(X,y)

0.0002937241842805305

In [25]:
dft = pd.read_csv('dataset/test.csv')

In [26]:
dft['temperature'] = dft['temperature'].astype(np.int64)

In [27]:
# is_holiday = pd.get_dummies(dft['is_holiday'], drop_first=True)
weather_type = pd.get_dummies(dft['weather_type'], drop_first=True)

In [28]:
mergetest = pd.concat([dft,weather_type] ,axis='columns')

In [29]:
finaltest = mergetest.drop(['is_holiday','weather_type','date_time','snow_p_h','rain_p_h'],axis='columns')

In [30]:
# len(finaltest[finaltest['Smoke'] == 1])

In [31]:
pred = lr.predict(finaltest)

In [32]:
print(pred)

[154.23899993 154.60858565 154.15727082 ... 150.55354479 154.4179471
 154.4373607 ]

In [33]:
value = pd.DataFrame(pred,columns=['air_pollution_index'], index=dft['date_time'])

In [34]:
value.to_csv('submision.csv')

In [35]:
# params = {
#     'objective' : 'binary:logistic',
#     'max-depth' : 2,
#     'learnig-rate' : 1.0,
#     'silent' : 1.0,
#     'n-estimators' : 5
# }

In [36]:
from xgboost import XGBRegression

ModuleNotFoundError: No module named 'xgboost'